# /etc/pve/.acme/cloudflare_token.env
# Used by Proxmox ACME plugin for Cloudflare DNS verification
CF_Token={{ cf_acme_token }}
CF_Account_ID={{ cf_account_id | default('', true) }}
CF_Zone_ID={{ cf_zone_id | default('', true) }}
