[defaults]
roles_path = ~/homelab/pve2/ansible/roles
inventory = ~/homelab/pve2/ansible/inventories/homelab.ini
private_key_file = ~/.ssh/id_dauser
stdout_callback = debug
remote_port = 22
ansible_ssh_user = dauser
remote_user = dauser